extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg",alt="imagen nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Nuestro proyecto de posicionarnos en el mercado del turismo es con el propósito de ofrecer lo que el viajero actual está buscando, rapidez y la organización de un viaje que desde el inicio sea el reflejo de la preocupación y asesoría personalizada.Hemos sabido reconocer que es lo que hace de un producto turístico una Experiencia de Viaje diferente y que es lo que están buscando los viajeros del día de hoy, en función de la constante innovación de productos, ofertas de temporadas, Tanto en Caribe como en Sudamérica, Europa Destinos lejanos y exóticos.
                p Teniendo una variedad de paquetes que se adapten a las necesidades del pasajero. Estas son las notas dominantes de nuestra estrategia empresarial y competencia en el mercado. La negociación con importantes operadores de viajes permitirán que el cliente encuentre lo que busque en el destino que sea.
                p Tenemos un compromiso de calidad y creatividad con los clientes en la organización de viajes de incentivos de ocio , vacacionales y grupales. En el cual se destaca nuestra experiencia.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg",alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Recomendaciones de Seguridad
                    p Podemos volver morenos, descansados y felices o con un mal rato a cuestas y sin un duro. Depende en gran medida de medidas de precaución como éstas:- Antes de viajar fotocopiar tarjetas de crédito, pasajes, pasaportes y documentos importantes, y fotografiar artículos valiosos como joyas u objetos de arte.
                .col-md-4
                    img(src="img/icono_destinos.svg",alt="icono destinos",class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Después de casi dos años sujetos a restricciones de movimientos, todos tenemos más ganas de viajar que nunca. Si quieres alejarte del turismo de masas puedes dejarte guiar por las propuestas de Lonely Planet. El sello de viajes eligió recientemente treinta destinos (diez países, regiones y ciudades) repletos de lugares fascinantes, tanto cercanos como lejanos, perfectos para descubrir este año.
                .col-md-4
                    img(src="img/icono_precios.svg",alt="icono precios",class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Encuentra el mejor precio en pasajes aereos, paquetes turísticos, vuela a Miami, Cusco, Arequipa y más destinos con nuestra AGENCIA DE VIAJES.
                    